@brand-primary: #829930; /*green*/
@brand-primary-light: #e4ed8e; /*light green*/
@brand-primary-dark: #597707; /*dark green*/
@brand-secondary: #5e5042; /*brown*/
@brand-secondary-light: #eaebdb; /* light brown */

@dark-highlight: #30677f; /* dark blue */
@navbar-default-bg: @brand-secondary-light;
@navbar-default-toggle-hover-bg: @brand-secondary-light;
@navbar-default-toggle-border-color: @brand-secondary-light;


@well-bg: @brand-secondary;

@font-family-sans-serif: "proxima-nova",sans-serif;
@font-family-serif: "ff-meta-serif-web-pro",serif;
@font-family-script: "ff-market-web", sans-serif;
/*
@font-size-h1: floor(@font-size-base * 2.6);
@font-size-h2: floor(@font-size-base * 1.7);
@font-size-h3: floor(@font-size-base * 1.4);
*/

body {
	padding: 0;
	margin: 0;
	font-family: @font-family-serif;
	/* This resizing only effects elements that have undefined font-size such as body content with a p tag or none */
	font-size: floor(@font-size-base * 1.1);
	}
	@media (min-width: @screen-sm-min) {
		body {
			border-top: solid 10px @brand-secondary-light;
		}
	}

h1,h2,h3 {
	font-family: @font-family-sans-serif;
}
h1 {
	color: @dark-highlight;
	margin-top: 15px;
}
h2,h3 {
	color: @brand-primary;
}

/* @group Mixins */

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
	/* behavior: url(../js/PIE.htc); */

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.btn {
	font-family: @font-family-sans-serif;
	text-transform: uppercase;
	font-size: floor(@font-size-base * 1.2);
}

.subtitle {
	font-family: @font-family-sans-serif;
	font-size: floor(@font-size-base * 1.4);
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* @end */

/* @group Header */
	
header {
	.container;
	padding: 0;
	}
	/*The following 3 medias are here because .container isn't working properly as a mixin */
	@media (min-width: @screen-sm-min) {
	  header {
	    width: @container-sm;
	  }
	}
	@media (min-width: @screen-md-min) {
	  header {
	    width: @container-md;
	  }
	}
	
	@media (min-width: @screen-lg-min) {
	  header {
	    width: @container-lg;
	  }
	
	}

/* Logo */

a.navbar-brand {
	width: 100%;
	float: none;
	text-align: center;
	display: block;
}

/*
@media (max-width: @screen-md-min) {
	a.navbar-brand img {
		width: 280px;
		height: 90px;
		margin-top: 5px;
	}
}
*/


/* @end */

/* @group Navbars */

nav.topnav, nav.sidenav {
	background-color: transparent;
	border: none;
	font-family: @font-family-sans-serif;
	text-transform: uppercase;
	font-size: floor(@font-size-base * 1.0);
	margin-bottom: 0px;
	min-height: 40px;

	.dropdown-menu {
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.navbar-nav {
		a {
			border-bottom: 1px solid @brand-secondary-light;
			color: @brand-secondary;
			&:hover {
				background-color: @brand-secondary-light;
				border-bottom: 1px solid #fff;
				color: @brand-secondary;
			}
			span {
				float: right;
				color: @brand-secondary-light;
			}
			&:hover span {
				color: @brand-secondary;
			}			
		}		
		.active a {
			color: @brand-secondary;
			border-bottom: 1px solid #fff;
			&:hover, &:focus {
				border-bottom: 1px solid #fff;
			}
			span {
				color: @brand-secondary;
			}
		}		
		li.open {
			a:focus {
				border-bottom: 1px solid #fff;
			}
			.dropdown-menu li a {
				padding: 9px 15px 7px 25px;
				color: @brand-secondary;
				line-height: 20px;
			}
			
			.dropdown-menu .active a {
				color: @brand-secondary;
			}
			
			.dropdown-menu a:hover {
				background-color: @brand-secondary-light;
				color: @brand-secondary;
			}
		}
	}

	ul {
		border-top: 1px solid @brand-secondary-light;
	}
	button.navbar-toggle {
		margin: 0px;
		background-color: #fff;
		border: 1px solid @brand-secondary-light;
		.border-radius;
		width: 100%;
		text-align: left;
		color: @brand-secondary;
		float: none;
		
		span.icon-bar {
			float: right;
			clear: both;
			background-color: @brand-secondary;
			position: relative;
			top: 2px;
		}

	}
	.navbar-collapse {
		border-top: none;
	}	
}


nav.topnav {	
	button.navbar-toggle {
		background-color: @brand-secondary-light;	
		border: none;
		.border-radius(0);
	}
}


/* Following are mods for Small and up - XS (Mobile) is default */
@media (min-width: @screen-sm-min) {

	nav.sidenav {
		width: 100%;
		.navbar-nav li a {
			padding:9px 10px 7px;
			width: 100%;
		}
		.navbar-collapse {
			padding: 0;
		}
		ul {
			margin-top: 0px;
			.nav-stacked;
			width: 100%;
			border-top: none;
			li + li {
				margin-top: 0px;
			}
		}
	}
	
	nav.topnav {
		ul {
			.pull-right;
			margin-top: 43px;
			border-top: none;
		}
		.navbar-nav a {
			border-bottom: none;
			padding: 9px 10px 7px;
		}

		.dropdown-menu, .navbar-nav li.open .dropdown-menu {
			border: 1px solid @brand-secondary-light;
			border-bottom: none;
			.border-radius(0);
			li a {
				border-bottom: 1px solid @brand-secondary-light;
				padding-left: 10px;
				padding-right: 10px;
			}
			li a:hover, li.active a {
				background-color: @brand-secondary-light;
				border-bottom: 1px solid #fff;
			}
		}
	}
}


	


/* @end */

/* @group Nav Container */

section.nav-container {
	background: #000 url(../images/bg-featured-photo.jpg) no-repeat center top;
	background-size: 200%;
	padding: 20px 0 20px;
	color: #fff;
	overflow: hidden;
	}
	@media (min-width: @screen-sm-min) {
		section.nav-container {
			background-size: 100%;
		}
	}


body.home-template section.nav-container {
	height: 170px;
	}
	@media (min-width: @screen-sm-min) {
		body.home-template section.nav-container {
			height: 580px;
		}
	}
	@media (min-width: @screen-md-min) {
		body.home-template section.nav-container {
			height: 546px;
		}
	}

body.default-template section.nav-container {
	height: 170px;
	}	
	@media (min-width: @screen-sm-min) {
		body.default-template section.nav-container {
			height: 78px;
		}
	}

img#bg  {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
img#bg.mobile {
  position: absolute;
}


section.nav-container nav {
	.make-row();
}
section.nav-container nav ul {
	.nav;
	.navbar;
	margin-bottom: 10px;
}
section.nav-container nav ul li {
	.make-xs-column(12);
	.make-sm-column(4);
}
section.nav-container nav ul li a {
	.btn;
	.btn-primary;
	.btn-block;
	margin-bottom: 10px;
	}
	@media (min-width: @screen-md-min) {
	  section.nav-container nav ul li a {
	    letter-spacing: 1.5px;
	  }
	}	
	
section.nav-container nav ul li.active a {
	/* background-color: @brand-primary-light; */
	/* -webkit-filter: brightness(75%); */
	border-bottom: 2px solid #fff;
}


section.nav-container article.intro h1,
section.nav-container h1 {
	font-family: @font-family-script;
	font-size: floor(@font-size-base * 2.8);
	color: @brand-primary-light;
	margin-top: 0px;
	}
	@media (min-width: @screen-sm-min) {
		section.nav-container article.intro h1,
		section.nav-container h1 {
			font-size: floor(@font-size-base * 3.9);
		}
	}
	@media (max-width: @screen-sm-min) {
		section.nav-container article.intro h1,
		section.nav-container h1 {
			text-align: center;
		}	
	}
	@media (min-width: @screen-md-min) {
		section.nav-container article.intro h1,
		section.nav-container h1 {
			font-size: floor(@font-size-base * 5.0);
		}
	}

/*
section.nav-container article p {
	.hidden-xs;
}
*/

section.nav-container article.intro {
	padding-left: 320px;
	width: 100%;
}


/* @end */

/* @group Slider */

#slideshow {
	/* min-height:550px; */
	/* min-width:1000px; */
	position:relative;
	
	.hidden-xs;
}
#slides {
	/* margin-top:50px; */ 
	margin-top: 0px;
	height:143px;
	margin-bottom: 26px;
	overflow:hidden;
	position:relative;
}
#slides ul { 
	position:absolute; 
	top:0; 
	left:0; 
	margin:0;
	width:100%;
	list-style:none;
}
#slides li {
	display:inline; 
	float:left;
	margin-right:10px;
}

.gallery-slider {
	width:100%;
	overflow:hidden;
	height:143px;
}


.slideshowHolder {
    /*float: right;*/
	width: 100%;
}

.caroufredsel_wrapper {
	top: -14px !important;
	float: left !important;
	left: 0 !important;
	/* width: 100% !important; */
    margin: 0;
	background: none !important;
	top: auto !important;
}

.caroufedsel_wrapper .DTCR_pointer {
    margin-top: 0 !important;
}
.caroufredsel_wrapper span.imgHolder {
    display:block;
	width: 190px !important;
    height: 143px;
    margin: 0 5px 0 0;
    float: left;
	cursor:pointer;
	background-color: @brand-secondary-light;
	.border-radius;
}
.caroufredsel_wrapper img {
    width: 190px !important;
    height: 143px;
	cursor:pointer;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	.border-radius;
}
.caroufredsel_wrapper img:hover,
.caroufredsel_wrapper .selected img {
    width: 190px !important;
    height: 143px;
	cursor:pointer;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1.0;
	.border-radius;
	border: solid 2px #fff;
}

/* This is the detail box for the photo */
#slider2 {
    float: left;
	width:300px !important;
    margin-left: 0px;
    margin-top: -14px;
	height: 300px;
	background:url(../images/box-pointer.png) no-repeat 0 0;
	color:#fff;
	/* .hidden-xs; */
	}

#slider2 h1 {
	margin:0 0 10px;
	.subtitle;
	color: @dark-highlight;
}

.homeSliderTxt .more {
	display:block;
	text-align:right;
}
.homeSliderTxt p {
	margin:0 0 8px;
}
.homeSliderTxt .btn-arrow {
	position:absolute;
	top:-9px;
	left:150px;
	text-indent:-9999px;
	overflow:hidden;
	width:48px;
	height:18px;
	background:url(../images/btn-arrow.png) no-repeat;
}
.homeSliderTxt {
    width: 290px;
	position:relative;
    height: 270px;
    margin-top: 14px;
	padding:25px 30px;
	color:#635325;
	background-color: #fff;
	.border-radius;
	/* .hidden-xs; */
	}


a.arrowLeft,a.arrowRight {
	display:block;
	width:35px; 
	height:40px;
	position:absolute; 
	top:52px; 
	background: url(../images/arrows_slider.png) no-repeat 0 0; 
	z-index:50;
	}
a.arrowLeft { 
	left:0; 
	margin-left:20px;
}
a.arrowRight {
	right:10px; 
	background-position:-40px 0;
}
a.arrowLeft:hover {background-position:0 -41px;}
a.arrowRight:hover {background-position:-40px -41px;}


/* @end */

/* @group Latest News */

/* example of good LESS hierarchal code */

section.latest-news {
	.make-row();
	margin-bottom: 20px;
		
	h1 {
		color: @dark-highlight;
		padding: 0 15px;
	}
	article {
		.make-sm-column(4);
		padding-top: 0;
		border-bottom: solid 1px @brand-secondary-light;
	
		header {
			width: auto;
		}
		h1 {
			.subtitle;	
			border-top: solid 1px @brand-secondary-light;
			padding: 10px 0 0;
			margin-top: 0;
			margin-bottom: 1px;
		}
	}
}
time {
	font-family: @font-family-sans-serif;
	font-size: floor(@font-size-base * 0.9);
	color: rgba(0,0,0,0.50);
	letter-spacing: 1px;
	margin-bottom: 1px;
}

/* @end */

/* @group Footer Ads */

section.footer-ads {
	.make-row();
}
section.footer-ads article {
	.make-sm-column(4);
}
.subscribe, .featured-fund, .facts {
	.well;
	height: 300px;
	padding-top: 0;
	color: #fff;
}
.subscribe {
	background-color: @brand-secondary-light;
	border-color: @brand-secondary-light;
}
.subscribe h1 {
	color: @dark-highlight;
}

div.featured-fund {
	background: url(../images/bg-photo-stewardship.png) no-repeat center top;
	h1,h2 {
		color: #fff;
	}
	h2 {
		.subtitle;
		margin-top: 0px;
	}
	.btn {
		margin-top: 95px;
	}
}
div.facts {
	h1 {
		.subtitle;
		text-align: center;
		border-bottom: 1px solid rgba(255,255,255,0.3);
		padding-bottom: 10px;
		color: #fff;
	}
}


/* @end */

/* @group Footer Nav */

section.footer-nav {
	.make-row();
	.hidden-xs;
}

section.footer-nav nav {
	.make-sm-column(6);
	.make-md-column(3);
}
section.footer-nav nav h1 {
	border-top: solid 5px @brand-secondary-light;
	color: @dark-highlight;
	font-size: 20px;
	padding-top: 10px;
}
section.footer-nav nav ul {
	.list-unstyled;
	font-size: floor(@font-size-base * 1.0);
}
section.footer-nav nav a {
	color: @brand-secondary;
	font-family: @font-family-sans-serif;
}

/* @end */

/* @group Footer */

footer.footer-container {
	background-color: @brand-secondary;
	margin-bottom: 10px;
	color: #fff;
	font-family: @font-family-sans-serif;
	font-size: floor(@font-size-base * 1.0);

	h1 {
		text-align: center;
		margin-top: 10px;
		font-size: 24px;
		color: @brand-primary-light;
	}
	address {
		.make-row();
		margin-bottom: 5px;
	}
	a {
		color: white;
	}
	p.links {
		text-align: center;
		
		a {
			padding-left: 5px;
			padding-right: 5px;
			color: @brand-primary-light;
		}
	}
}


address .phone {
	.make-sm-column(3);
	text-align: center;
	background: url(../images/icon-phone.png) no-repeat center top;
	padding-top: 25px; 
}
address .email {
	.make-sm-column(3);
	text-align: center;
	background: url(../images/icon-email.png) no-repeat center top;
	padding-top: 25px; 
}
address .street {
	.make-sm-column(5);
	text-align: center;
	background: url(../images/icon-pin.png) no-repeat center top;
	padding-top: 25px; 
}
address .facebook {
	.make-sm-column(1);
	text-align: center;
	background: url(../images/icon-facebook.png) no-repeat center top;
	padding-top: 25px; 
}
	@media (min-width: @screen-sm-min) {
		address .phone, address .email, address .street, address .facebook {
			text-align: left;
			padding-top: inherit;
			padding-left: 25px;
			background-position: left -3px;
		}	
	}

p.credits {
	text-align: center;
	font-size: floor(@font-size-base * 0.9);
}

/* @end */

/* @group Content Areas */

.breadcrumb {
	background-color: #fff;
	font-family: @font-family-sans-serif;
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0 0 15px;
	font-size: floor(@font-size-base * 0.9);
	letter-spacing: 1px;
	text-transform: uppercase;
	.border-radius (0px);
	li + li::before, .active {
		color: @brand-secondary;
		}
	}
	@media (min-width: @screen-sm-min) {
		.breadcrumb {
			border-bottom: 1px solid @brand-secondary-light;
		}
		section.content-full .breadcrumb {
			margin-bottom: 20px;
		}
	}

section.content-wrap {
	.make-row();
}

section.content-wrap nav.sidenav {
	.make-xs-column(12);
	.make-sm-column(3);
}
article.content {
	.make-xs-column(12);
	.make-sm-column(9);
	/* border-bottom: solid 1px @brand-secondary-light; */
	/* margin-bottom: 20px; */
	padding-bottom: 7px;
	}
@media (min-width: @screen-sm-min) {
	article.content {
		border-left: 1px solid @brand-secondary-light;
		padding-left: 20px;
	}
	section.content-wrap nav.sidenav {
		padding-right: 0;
	}
}	
section.content-full {
	border-bottom: solid 1px @brand-secondary-light;
	margin-bottom: 20px;
}
div.content-footer {
	.make-row();
	.clearfix;
	border-top: solid 1px @brand-secondary-light;
	border-bottom: solid 1px @brand-secondary-light;
	margin: 0px 2px 20px;
	text-align: center;
	padding: 10px 0;
	.subtitle;
	font-size: floor(@font-size-base * 0.9);
}

/* @end */

/* @group Boxes */

div.givelist {
	.make-row();
}
div.givelist ul {
	list-style: none;
	padding: 0;
}
div.givelist ul li {
	.make-xs-column(12);
	.make-sm-column(3);
}
div.givelist ul li a {
	}
	@media (min-width: @screen-sm-min) {
		div.givelist ul li a {
			height: 150px;
			background-color: @brand-primary;
			color: #fff;	
			width: 100%;
			display: block;
			text-align: center;
			.well;
			.subtitle;
			background: url(../images/fpo-300x150.png) no-repeat center center;
			-webkit-filter: brightness(50%);

			&:hover {
				-webkit-filter: brightness(100%);
				border: solid 2px #fff;
			}
			
			&.w-img {
				background-image: none;
				background-color: @brand-secondary-light;
				-webkit-filter: brightness(100%);
				padding: 0px;
				overflow: hidden;
				img {
					display: block;
					width: auto;
					height: 100%;
					z-index: -999;
					filter: alpha(opacity=50);
					opacity: 0.5;
				}
				span {
					position: absolute;
					top: 0px;
					left: 0px;
					.subtitle;
					/* text-align: center; */
					color: @brand-secondary;
					width: 100%;
					margin: 0;
					padding: 20px 30px;
					box-sizing: inherit;
				}
				&:hover img {
					filter: alpha(opacity=100);
					opacity: 1.0;
				}
				&:hover span {
					color: #fff;
				}		
			}
		}
	}
		
	@media (max-width: @screen-sm-min) {
		div.givelist ul li a {
			.btn;
			/* .btn-primary; */
			.btn-default;
			.btn-block;
			margin-bottom: 10px;
			img {
				display: none;
			}
		}
	}

section.giveboxes {
	.make-row();
	div.givebox {
		.make-xs-column(12);
		.make-sm-column(3);
		article {
			.thumbnail;
			h1 {
				.subtitle;
				color: @dark-highlight;
			}
			div {
				.caption;
			}
			a {
				.btn;
				.btn-primary;
				.btn-block;
			}
		}
	}
}
	@media (max-width: @screen-sm-min) {
		section.giveboxes div.givebox article img {
			display: none;
		}
	}

/* @end */


