<h1 class="title-over">{tag_name}</h1>

<!-- IMG NOTES: md: 526px; lg: 691px; xl: 841px; (737px is as large as it needs to be at the SM size, just under MD -->
<div class="hdr-img">
	<img alt="{tag_name_nolink}" src="{tag_image_value}?Action=thumbnail&amp;Width=737&amp;Height=350&amp;algorithm=fill_proportional" width="737" height="350" onerror="this.src='/images/fpo.png'">
</div>

<div class="row">
<div class="content-panel contentstat{tag_enable donation}">
{tag_description}
</div>
<div class="donate-panel donatestat{tag_enable donation}">
<h2>Donate to the {tag_name}</h2>
<p>[Donate form for this specific fund will go here.]</p>
<!-- FORM GOES HERE -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, enim asperiores sapiente mollitia adipisci atque vitae veniam vero ratione autem. Accusamus, maxime, iste impedit veritatis eveniet quisquam tempora sunt quibusdam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, enim asperiores sapiente mollitia adipisci atque vitae veniam vero ratione autem. Accusamus, maxime, iste impedit veritatis eveniet quisquam tempora sunt quibusdam.</p>
<a role="button" class="btn btn-primary btn-lg btn-block">Donate Now</a>
</div>
</div>
