<!-- <div class="featured-fund" style="background: url({ tag_image_value}?Action=thumbnail&amp;Width=293&amp;Height=300&amp;algorithm=fill_proportional);"> -->
<div class="featured-fund">
	<h1>Featured</h1>
	<h2>{tag_name_nolink}</h2>
	<a role="button" class="btn btn-primary btn-lg btn-block" href="{tag_itemurl_nolink}">More Info</a>
	<img src="{tag_image_value}?Action=thumbnail&amp;Width=737&amp;Height=350&amp;algorithm=fill_proportional" width="737" height="350" alt="Featured Photo" onerror="this.src='/images/fpo.png'">
</div>