<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<!-- Head -->
	{module_contentholder,653232}
	
  </head>
  <body class="sub-template template-grants">
  
	  <!-- Header -->
	  {module_contentholder,653230}

	<section class="nav-container">
			
		<div class="container">
		
			<nav>
				{module_menu, version="2", menuId="1411073", moduleTemplateGroup="Basic"}
			</nav>
			
			<!-- BEGIN SLIDER -->
			
			<section class="content-top">
			{tag_pagecontent}
			</section>


			<section class="content-below">
			
			
				<section class="giveboxes">
				
					<div class="givebox">
						<article>
							<img src="images/fpo-300x150.png" alt="" />
							<div>
								<h1>Grants</h1>
								<p>Grants are open for proposals during specific proposal cycles. Our grants are made possible through the contributions of individual donors and nonprofit donor funds.</p>
								<a href="/grants">More Info</a>
							</div>
						</article>
					</div>
					
					<div class="givebox">
						<article>
							<img src="images/fpo-300x150.png" alt="" />
							<div>
								<h1>Scholarships</h1>
								<p>Scholarship funds are awarded to graduating seniors from area high schools each year. Many of these scholarships are also renewable for college students.</p>
								<a href="/scholarships">More Info</a>
							</div>
						</article>
					</div>
					
					<div class="givebox">
						<article>
							<img src="images/fpo-300x150.png" alt="" />
							<div>
								<h1>Success Stories</h1>
								<p>Each year, people from all walks of life make generous donations to Shasta Regional Community Foundation. Together, we’re making life better in the North State.</p>
								<a href="/success-stories">More Info</a>
							</div>
						</article>
					</div>
					
				</section>
				
			</section>
			
		</div>
		
	</section>
	
	<div class="container">		

		<!-- News -->
		
		<!-- Footer Ads -->
		{module_contentholder,653266}
		
	</div>

	<!-- Footer -->
	{module_contentholder,653233}
		
  </body>
</html>