<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<!-- Head -->
	{module_contentholder,653232}
	
  </head>
  <body class="home-template">
  
	  <!-- Header -->
	  {module_contentholder,653230}

	<section class="nav-container">
			
		<div class="container">
		
			<nav>
				{module_menu, version="2", menuId="1411073", moduleTemplateGroup="Basic"}
			</nav>
			
			<!-- BEGIN SLIDER -->

			<div id="slideshow">
				<div class="slideshowHolder">
			        
			        <div>
			        	<a class="arrowLeft" id="sliderPrev" href="#"></a>
			            <a class="arrowRight" id="sliderNext" href="#"></a>
			            <div id="slides" class="gallery-slider">
							{module_webapps,16101,a template="/tpl/homeslider-images.tpl"}				        
			            </div>
			        </div>
			        
			        <div class="clear"></div>
			        
			        <div>
						<div id="slider2" class="DTCR_pointer">
								{module_webapps,16101,a template="/tpl/homeslider-text.tpl"}
						</div>
			                
						<!-- END SLIDER -->
				
						<article class="intro">
							
							{tag_pagecontent}							
							
						</article>
						
						
						
			        </div>
			      </div>
			
			</div>
		
		</div>
		
	</section>
	
	<div class="container">		

		<section class="latest-news">
			<h1>Latest News</h1>	
			{module_webapps,16104,l,,,,true,3,true,1}	
<!--
	        <article>
	        	<header>
		        	<h1><a href="#" rel="bookmark">Leadership Siskiyou County Grants Available</a></h1>
					<time datetime="2013-12-07" pubdate>December 7, 2013</time>
	        	</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	        </article>
	        <article>
	        	<header>
		        	<h1><a href="#" rel="bookmark">$379,946 in Grants Awarded by the SRCF</a></h1>
					<time datetime="2013-12-07" pubdate>December 7, 2013</time>
	        	</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	        </article>
	        <article>
	        	<header>
		        	<h1><a href="#" rel="bookmark">Kerry Caranci new CEO of Community Foundation</a></h1>
					<time datetime="2013-12-07" pubdate>December 7, 2013</time>
	        	</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	        </article>
-->
		</section>

		<!-- Footer Ads -->
		{module_contentholder,653266}
		
	</div>

	<!-- Footer -->
	{module_contentholder,653233}
		
  </body>
</html>