<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<!-- Head -->
	{module_contentholder,653232}
	
  </head>
  <body class="default-template-sidenav template-advisors">
  
	  <!-- Header -->
	  {module_contentholder,653230}

	<section class="nav-container">
			
		<div class="container">
		
			<nav>
				{module_menu, version="2", menuId="1411073", moduleTemplateGroup="Basic"}
			</nav>
		
		</div>
		
	</section>
	
	<div class="container">		
				
		<nav class="breadcrumb"><a href="/">Home</a> / <!-- <a href="/professional-advisors">Professional Advisors</a> /  -->{module_breadcrumbs, / }</nav>
		
		<section class="content-wrap">
			
			<nav class="navbar navbar-default sidenav" role="navigation">
			
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#inner-navbar-collapse">
			      <span>More for Professional Advisors</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			  </div>

			  {module_menu, version="2", menuId="1412102", moduleTemplateGroup="Inner Navbar"}

			</nav>		
			
			<article class="content">
				{tag_pagecontent}
			</article>

		</section>
		
		<div class="content-footer"><a href="#" class="scrollToTop">Back to Top <span>&#8593;</span></a></div>
				
		<!-- Footer Ads -->
		{module_contentholder,653266}
		
	</div>

	<!-- Footer -->
	{module_contentholder,653233}
		
  </body>
</html>