<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<!-- Head -->
	{module_contentholder,653232}
	
  </head>
  <body class="sub-template template-give">
  
	  <!-- Header -->
	  {module_contentholder,653230}

	<section class="nav-container">
			
		<div class="container">
		
			<nav>
				{module_menu, version="2", menuId="1411073", moduleTemplateGroup="Basic"}
			</nav>
			
			<!-- BEGIN SLIDER -->
			
			<section class="content-top">
			{tag_pagecontent}
			</section>


			<section class="content-below">
			
			
				<div class="givelist">
					<ul>
						<li><a href="/start-fund" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>Start a Fund</span></a></li>
						<li><a href="/funds/stewardship-endowment" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>Stewardship Endowment</span></a></li>
						<li><a href="/endowed-funds" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>All Endowed Funds</span></a></li>
						<li><a href="/foi-advised-funds" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>Fields of Interest and Advised Funds</span></a></li>
		
						<li><a href="/scholarship-funds" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>Scholarship Funds</span></a></li>
						<li><a href="/giving-real-estate" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>Giving Real Estate</span></a></li>
						<li><a href="/power-of-endowment" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>Power of Endowment</span></a></li>
						<li><a href="/donate" class="w-img"><img src="images/fpo-300x150.png" alt="" /> <span>Donate Now</span></a></li>
					</ul>
				</div>
				
			</section>
			
		</div>
		
	</section>
	
	<div class="container">		

		<!-- News -->
		
		<!-- Footer Ads -->
		{module_contentholder,653266}
		
	</div>

	<!-- Footer -->
	{module_contentholder,653233}
		
  </body>
</html>